## Criação das fórmulas para análise dos dados

In [45]:
!pip install pandas

Requirement already satisfied: pandas in ./.venv/lib/python3.13/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in ./.venv/lib/python3.13/site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in ./.venv/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 24.2 -> 25.1.1
[notice] To update, run: pip install --upgrade pip

[notice] A new release of pip is available: 24.2 -> 25.1.1
[notice] To update, run: pip install --upgrade pip

In [ ]:
import pandas as pd
df = pd.read_csv('/Users/vitorcollos/Documents/Dev/camara/camaras/camara compensacao macae - 04.2025 - vcto 20.05.2025.csv', sep=";")
df

:

### Criar Colunas

In [71]:
import pandas as pd
from datetime import datetime, timedelta

# Define a function to calculate the debit value based on the given conditions

def calculate_debit(row):
    if row['Tipo'] == 'A pagar':
        if row['TipoSingular'] == 'Operadora':
            if row['CodigoTipoRecebimento'] == 1:
                return 31731
            elif row['CodigoTipoRecebimento'] == 2:
                return 40507
            elif row['CodigoTipoRecebimento'] == 3:
                return 52631
            elif row['CodigoTipoRecebimento'] == 4:
                return 52532
            elif row['CodigoTipoRecebimento'] == 5:
                return 51818
            elif row['CodigoTipoRecebimento'] == 6:
                return 51202
        elif row['TipoSingular'] == 'Prestadora':
            if row['CodigoTipoRecebimento'] in [1, 2]:
                return 40140
            elif row['CodigoTipoRecebimento'] in [3, 4, 5]:
                return 52631
            elif row['CodigoTipoRecebimento'] == 6:
                return 51202
    elif row['Tipo'] == 'A receber':
        if row['TipoSingular'] == 'Operadora':
            if row['CodigoTipoRecebimento'] == 1:
                return 19958
            elif row['CodigoTipoRecebimento'] == 2:
                return 85433
            elif row['CodigoTipoRecebimento'] in [3, 4, 5]:
                return 84679
            elif row['CodigoTipoRecebimento'] == 6:
                return 19253
        elif row['TipoSingular'] == 'Prestadora':
            if row['CodigoTipoRecebimento'] == 1:
                return 19253
            elif row['CodigoTipoRecebimento'] == 2:
                return 19253
            elif row['CodigoTipoRecebimento'] in [3, 4, 5]:
                return 84679
            elif row['CodigoTipoRecebimento'] == 6:
                return 19253
    return ''

# Define a function to calculate the credit value based on the given conditions

def calculate_credit(row):
    if row['Tipo'] == 'A pagar':
        if row['TipoSingular'] == 'Operadora':
            if row['CodigoTipoRecebimento'] == 1:
                return 90918
            elif row['CodigoTipoRecebimento'] == 2:
                return 90919
            elif row['CodigoTipoRecebimento'] in [3, 4]:
                return 21898
            elif row['CodigoTipoRecebimento'] == 5:
                return 51818
            elif row['CodigoTipoRecebimento'] == 6:
                return 90919
        elif row['TipoSingular'] == 'Prestadora':
            if row['CodigoTipoRecebimento'] in [1, 2]:
                return 92003
            elif row['CodigoTipoRecebimento'] in [3, 4]:
                return 21898
            elif row['CodigoTipoRecebimento'] == 5:
                return 51818
            elif row['CodigoTipoRecebimento'] == 6:
                return 90919
    elif row['Tipo'] == 'A receber':
        if row['TipoSingular'] == 'Operadora':
            if row['CodigoTipoRecebimento'] == 1:
                return 30203
            elif row['CodigoTipoRecebimento'] == 2:
                return 40413
            elif row['CodigoTipoRecebimento'] == 3:
                return 30069
            elif row['CodigoTipoRecebimento'] == 4:
                return 30071
            elif row['CodigoTipoRecebimento'] == 5:
                return 31426
            elif row['CodigoTipoRecebimento'] == 6:
                return 30127
        elif row['TipoSingular'] == 'Prestadora':
            if row['CodigoTipoRecebimento'] == 1:
                return 30203
            elif row['CodigoTipoRecebimento'] == 2:
                return 40413
            elif row['CodigoTipoRecebimento'] == 3:
                return 30069
            elif row['CodigoTipoRecebimento'] == 4:
                return 30071
            elif row['CodigoTipoRecebimento'] == 5:
                return 31426
            elif row['CodigoTipoRecebimento'] == 6:
                return 30127
    return ''

# Define a function to calculate the history value based on the given conditions

def calculate_history(row):
    if row['Tipo'] == 'A pagar':
        if row['CodigoTipoRecebimento'] in [1, 2, 6]:
            return 2005
        elif row['CodigoTipoRecebimento'] == 3:
            return 361
        elif row['CodigoTipoRecebimento'] == 4:
            return 365
        elif row['CodigoTipoRecebimento'] == 5:
            return 179
    elif row['Tipo'] == 'A receber':
        if row['CodigoTipoRecebimento'] in [1, 2, 6]:
            return 1021
        elif row['CodigoTipoRecebimento'] == 3:
            return 33
        elif row['CodigoTipoRecebimento'] == 4:
            return 228
        elif row['CodigoTipoRecebimento'] == 5:
            return 30
    return ''

# Apply the function to each row in the DataFrame to create the 'Debito' column
df['Debito'] = df.apply(calculate_debit, axis=1)

# Apply the function to each row in the DataFrame to create the 'Credito' column
df['Credito'] = df.apply(calculate_credit, axis=1)

# Apply the function to each row in the DataFrame to create the 'Historico' column
df['Historico'] = df.apply(calculate_history, axis=1)

# Add a column 'DATA' with the last day of the previous month
today = datetime.today()
first_day_of_current_month = today.replace(day=1)
last_day_of_previous_month = first_day_of_current_month - timedelta(days=1)
df['DATA'] = last_day_of_previous_month

# Add a column 'valor' containing the data from 'ValorBruto'
df['valor'] = df['ValorBruto']

# Convert 'valor' column to float type (replace comma with dot)
df['valor'] = df['valor'].str.replace(',', '.', regex=False).astype(float)

# Add a column 'complemento' containing the concatenation of 'NomeSingular' and 'DescricaoTipoRecebimento'
df['complemento'] = df['NomeSingular'].fillna('') + " | " + df['DescricaoTipoRecebimento'].fillna('')

### Adicionando os IRRF ao Relatório

In [ ]:
import pandas as pd
from datetime import datetime, timedelta

# Define a function to calculate the debit value based on the given conditions
def calculate_debit(row):
    """
    Calculate the debit value for a given row based on specific conditions.
    """
    if row['Tipo'] == 'A pagar':
        if row['TipoSingular'] == 'Operadora':
            if row['CodigoTipoRecebimento'] == 1:
                return 31731
            elif row['CodigoTipoRecebimento'] == 2:
                return 40507
            elif row['CodigoTipoRecebimento'] == 3:
                return 52631
            elif row['CodigoTipoRecebimento'] == 4:
                return 52532
            elif row['CodigoTipoRecebimento'] == 5:
                return 51818
            elif row['CodigoTipoRecebimento'] == 6:
                return 51202
        elif row['TipoSingular'] == 'Prestadora':
            if row['CodigoTipoRecebimento'] in [1, 2]:
                return 40140
            elif row['CodigoTipoRecebimento'] in [3, 4, 5]:
                return 52631
            elif row['CodigoTipoRecebimento'] == 6:
                return 51202
    elif row['Tipo'] == 'A receber':
        if row['TipoSingular'] == 'Operadora':
            if row['CodigoTipoRecebimento'] == 1:
                return 19958
            elif row['CodigoTipoRecebimento'] == 2:
                return 85433
            elif row['CodigoTipoRecebimento'] in [3, 4, 5]:
                return 84679
            elif row['CodigoTipoRecebimento'] == 6:
                return 19253
        elif row['TipoSingular'] == 'Prestadora':
            if row['CodigoTipoRecebimento'] == 1:
                return 19253
            elif row['CodigoTipoRecebimento'] == 2:
                return 19253
            elif row['CodigoTipoRecebimento'] in [3, 4, 5]:
                return 84679
            elif row['CodigoTipoRecebimento'] == 6:
                return 19253
    return ''

# Define a function to calculate the credit value based on the given conditions
def calculate_credit(row):
    """
    Calculate the credit value for a given row based on specific conditions.
    """
    if row['Tipo'] == 'A pagar':
        if row['TipoSingular'] == 'Operadora':
            if row['CodigoTipoRecebimento'] == 1:
                return 90918
            elif row['CodigoTipoRecebimento'] == 2:
                return 90919
            elif row['CodigoTipoRecebimento'] in [3, 4]:
                return 21898
            elif row['CodigoTipoRecebimento'] == 5:
                return 51818
            elif row['CodigoTipoRecebimento'] == 6:
                return 90919
        elif row['TipoSingular'] == 'Prestadora':
            if row['CodigoTipoRecebimento'] in [1, 2]:
                return 92003
            elif row['CodigoTipoRecebimento'] in [3, 4]:
                return 21898
            elif row['CodigoTipoRecebimento'] == 5:
                return 51818
            elif row['CodigoTipoRecebimento'] == 6:
                return 90919
    elif row['Tipo'] == 'A receber':
        if row['TipoSingular'] == 'Operadora':
            if row['CodigoTipoRecebimento'] == 1:
                return 30203
            elif row['CodigoTipoRecebimento'] == 2:
                return 40413
            elif row['CodigoTipoRecebimento'] == 3:
                return 30069
            elif row['CodigoTipoRecebimento'] == 4:
                return 30071
            elif row['CodigoTipoRecebimento'] == 5:
                return 31426
            elif row['CodigoTipoRecebimento'] == 6:
                return 30127
        elif row['TipoSingular'] == 'Prestadora':
            if row['CodigoTipoRecebimento'] == 1:
                return 30203
            elif row['CodigoTipoRecebimento'] == 2:
                return 40413
            elif row['CodigoTipoRecebimento'] == 3:
                return 30069
            elif row['CodigoTipoRecebimento'] == 4:
                return 30071
            elif row['CodigoTipoRecebimento'] == 5:
                return 31426
            elif row['CodigoTipoRecebimento'] == 6:
                return 30127
    return ''

# Define a function to calculate the history value based on the given conditions
def calculate_history(row):
    """
    Calculate the history value for a given row based on specific conditions.
    """
    if row['Tipo'] == 'A pagar':
        if row['CodigoTipoRecebimento'] in [1, 2, 6]:
            return 2005
        elif row['CodigoTipoRecebimento'] == 3:
            return 361
        elif row['CodigoTipoRecebimento'] == 4:
            return 365
        elif row['CodigoTipoRecebimento'] == 5:
            return 179
    elif row['Tipo'] == 'A receber':
        if row['CodigoTipoRecebimento'] in [1, 2, 6]:
            return 1021
        elif row['CodigoTipoRecebimento'] == 3:
            return 33
        elif row['CodigoTipoRecebimento'] == 4:
            return 228
        elif row['CodigoTipoRecebimento'] == 5:
            return 30
    return ''

# Apply the function to each row in the DataFrame to create the 'Debito' column
df['Debito'] = df.apply(calculate_debit, axis=1)

# Apply the function to each row in the DataFrame to create the 'Credito' column
df['Credito'] = df.apply(calculate_credit, axis=1)

# Apply the function to each row in the DataFrame to create the 'Historico' column
df['Historico'] = df.apply(calculate_history, axis=1)

# Add a column 'DATA' with the last day of the previous month
today = datetime.today()
first_day_of_current_month = today.replace(day=1)
last_day_of_previous_month = first_day_of_current_month - timedelta(days=1)
df['DATA'] = last_day_of_previous_month

# Add a column 'valor' containing the data from 'ValorBruto'
df['valor'] = df['ValorBruto']

# Convert 'valor' column to float type (replace comma with dot first)
df['valor'] = df['valor'].str.replace(',', '.', regex=False).astype(float)

# Add a column 'complemento' containing the concatenation of 'NomeSingular' and 'DescricaoTipoRecebimento'
df['complemento'] = df['NomeSingular'].fillna('') + " | " + df['DescricaoTipoRecebimento'].fillna('') + " | " + df['Descricao'].fillna('')

# Create a new DataFrame df_export_csv with the specified columns
df_export_csv = df[['Debito', 'Credito', 'Historico', 'DATA', 'valor', 'complemento']]

# Add records to df_export_csv based on the IRRF condition
for index, row in df.iterrows():
    irrf_value = 0
    try:
        irrf_value = float(str(row['IRRF']).replace(',', '.'))
    except:
        irrf_value = 0
    if irrf_value > 0:
        if row['Tipo'] == 'A pagar':
            debito_irrf = df_export_csv.iloc[index]['Credito']
            credito_irrf = 23476
            historico_irrf = 2341
        elif row['Tipo'] == 'A receber':
            debito_irrf = 15456
            credito_irrf = df_export_csv.iloc[index]['Debito']
            historico_irrf = 22
        # Add a new row to df_export_csv
        df_export_csv = df_export_csv.append({
            'Debito': debito_irrf,
            'Credito': credito_irrf,
            'Historico': historico_irrf,
            'DATA': last_day_of_previous_month,
            'valor': irrf_value,
            'complemento': ((str(row['NomeSingular']) if pd.notnull(row['NomeSingular']) else '') + " | " +
                           (str(row['DescricaoTipoRecebimento']) if pd.notnull(row['DescricaoTipoRecebimento']) else '') + " | " +
                           (str(row['Descricao']) if pd.notnull(row['Descricao']) else '') + " | IRRF")
        }, ignore_index=True)

# Convert 'DATA' column to Brazilian date format dd/mm/yyyy as string without time
df_export_csv.loc[:, 'DATA'] = pd.to_datetime(df_export_csv['DATA']).dt.strftime('%d/%m/%Y')

import csv

# Formato brasileiro (vírgula como separador decimal)
def format_valor(val):
    return f'{val:.2f}'.replace('.', ',')

df_export_csv.loc[:, 'valor'] = df_export_csv['valor'].apply(format_valor)

# Agora vamos escrever o arquivo manualmente para evitar aspas
with open('exported_data.csv', 'w', newline='') as f:
    # Escreve o cabeçalho
    header = ';'.join(df_export_csv.columns) + '\n'
    f.write(header)
    
    # Escreve as linhas de dados
    for _, row in df_export_csv.iterrows():
        line = ';'.join([str(x) for x in row.values]) + '\n'
        f.write(line)

/var/folders/wf/ylf037511_x4xh_hbtd6v1480000gn/T/ipykernel_40221/1300759211.py:189: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['1161,43' '936,10' '40000,00' '270,10' '674,51' '1214,64' '6481,66'
 '179,08' '205,35' '120,25' '321,53' '205,72' '650,46' '92,13' '2891,18'
 '503,94' '241,24' '71,04' '472,86' '1162,91' '532,06' '394,42' '561,56'
 '224,62' '70820,66' '300,00' '424,76' '93,24' '71,04']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_export_csv.loc[:, 'valor'] = df_export_csv['valor'].apply(format_valor)

In [ ]:
# Filtra apenas os registros com IRRF > 0
df_irrf = df[pd.to_numeric(df['IRRF'], errors='coerce') > 0].copy()

# Seleciona as mesmas colunas do df_export_csv e faz as conversões necessárias
df_irrf['DATA'] = df_irrf['DATA'].dt.strftime('%d/%m/%Y')

# Formata o valor para padrão brasileiro (vírgula como separador decimal)
def format_valor(val):
    if isinstance(val, str):
        val = val.replace(',', '.')
    return f'{float(val):.2f}'.replace('.', ',')

df_irrf['valor'] = df_irrf['valor'].apply(format_valor)

# Seleciona as colunas no mesmo padrão do df_export_csv
df_irrf_export = df_irrf[['Debito', 'Credito', 'Historico', 'DATA', 'valor', 'complemento']]

df_irrf_export.reset_index(drop=True, inplace=True)
df_irrf_export

:

In [79]:
# Converta os dados em DATA para um formato específico
# Primeiro, vamos verificar o tipo atual dos dados na coluna DATA
print("Tipo dos dados em DATA antes da conversão:", type(df_export_csv['DATA'].iloc[0]))

# Forçar o formato de data correto
# Independentemente do formato atual, vamos converter para string no formato brasileiro
if isinstance(df_export_csv['DATA'].iloc[0], pd.Timestamp) or isinstance(df_export_csv['DATA'].iloc[0], datetime):
    # Se já for um objeto datetime ou Timestamp
    df_export_csv.loc[:, 'DATA'] = df_export_csv['DATA'].dt.strftime('%d/%m/%Y')
else:
    # Se for uma string ou outro formato
    df_export_csv.loc[:, 'DATA'] = pd.to_datetime(df_export_csv['DATA']).dt.strftime('%d/%m/%Y')

# Verifica se a conversão foi bem-sucedida
print("Primeiras linhas de DATA após conversão:", df_export_csv['DATA'].head())

import csv

# Formato brasileiro (vírgula como separador decimal)
def format_valor(val):
    # Garante que o valor está em formato float, mesmo se vier como string com vírgula
    if isinstance(val, str):
        val = val.replace(',', '.')
    return f'{float(val):.2f}'.replace('.', ',')

df_export_csv.loc[:, 'valor'] = df_export_csv['valor'].apply(format_valor)

# Verificação manual do DataFrame antes da exportação
print("\nVERIFICANDO DATAFRAME ANTES DA EXPORTAÇÃO:")
for col in df_export_csv.columns:
    print(f"Coluna {col} - tipo: {type(df_export_csv[col].iloc[0])}")
    print(f"Exemplo: {df_export_csv[col].iloc[0]}")

# Exporta sem aspas, escrevendo manualmente o arquivo
with open('exported_data.csv', 'w', encoding='utf-8', newline='') as f:
    # Escreve o cabeçalho
    f.write('Debito;Credito;Historico;DATA;valor;complemento\n')
    
    # Escreve cada linha sem aspas, com verificação explícita para cada coluna
    for _, row in df_export_csv.iterrows():
        # Força DATA a estar no formato dd/mm/yyyy se ainda não estiver
        data_formatada = row['DATA']
        if '00:00:00' in str(data_formatada):
            # Ainda está no formato errado, forçamos a mudança
            data_formatada = datetime.strptime(
                str(data_formatada).split(' ')[0], '%Y-%m-%d'
            ).strftime('%d/%m/%Y')
        
        linha = f"{row['Debito']};{row['Credito']};{row['Historico']};{data_formatada};{row['valor']};{row['complemento']}\n"
        f.write(linha)

print("Exportação concluída!")

Tipo dos dados em DATA antes da conversão: <class 'pandas._libs.tslibs.timestamps.Timestamp'>
Primeiras linhas de DATA após conversão: 0   2025-04-30
1   2025-04-30
2   2025-04-30
3   2025-04-30
4   2025-04-30
Name: DATA, dtype: datetime64[us]

VERIFICANDO DATAFRAME ANTES DA EXPORTAÇÃO:
Coluna Debito - tipo: <class 'numpy.int64'>
Exemplo: 40507
Coluna Credito - tipo: <class 'numpy.int64'>
Exemplo: 90919
Coluna Historico - tipo: <class 'numpy.int64'>
Exemplo: 2005
Coluna DATA - tipo: <class 'pandas._libs.tslibs.timestamps.Timestamp'>
Exemplo: 2025-04-30 00:00:00
Coluna valor - tipo: <class 'str'>
Exemplo: 1161,43
Coluna complemento - tipo: <class 'str'>
Exemplo: Uniodonto Campinas | Repasse em Custo Operacional | Serviços Prestados
Exportação concluída!

In [83]:
# Análise exploratória do df_export_csv

# Visualizar as primeiras linhas
display(df_export_csv.head())

# Informações gerais do DataFrame
print("Informações gerais:")
df_export_csv.info()

# Estatísticas descritivas das colunas numéricas
print("\nEstatísticas descritivas (colunas numéricas):")
print(df_export_csv.describe())

# Verificar valores únicos em 'Debito', 'Credito' e 'Historico'
print("\nValores únicos em 'Debito':", df_export_csv['Debito'].unique())
print("Valores únicos em 'Credito':", df_export_csv['Credito'].unique())
print("Valores únicos em 'Historico':", df_export_csv['Historico'].unique())

# Verificar se há valores nulos
print("\nValores nulos por coluna:")
print(df_export_csv.isnull().sum())

# Análise de frequência dos campos categóricos
print("\nFrequência dos campos 'Debito', 'Credito', 'Historico':")
print(df_export_csv[['Debito', 'Credito', 'Historico']].value_counts())

# Amostra dos complementos
print("\nExemplo de complementos:")
print(df_export_csv['complemento'].sample(5, random_state=42))

,Debito,Credito,Historico,DATA,valor,complemento
0,40507,90919,2005,2025-04-30,"1161,43",Uniodonto Campinas | Repasse em Custo Operacio...
1,40507,90919,2005,2025-04-30,"936,10",Uniodonto Belem | Repasse em Custo Operacional...
2,51202,90919,2005,2025-04-30,"40000,00",UNIODONTO DO BRASIL | Outros | Desconto adiant...
3,40507,90919,2005,2025-04-30,"270,10",Uniodonto Rio de Janeiro | Repasse em Custo Op...
4,40507,90919,2005,2025-04-30,"674,51",Uniodonto Rio Grande do Norte | Repasse em Cus...

Informações gerais:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Debito       29 non-null     int64
 1   Credito      29 non-null     int64
 2   Historico    29 non-null     int64
 3   DATA         29 non-null     datetime64[us]
 4   valor        29 non-null     object
 5   complemento  29 non-null     object
dtypes: datetime64[us](1), int64(3), object(2)
memory usage: 1.5+ KB

Estatísticas descritivas (colunas numéricas):
             Debito       Credito    Historico                 DATA
count     29.000000     29.000000    29.000000                   29
mean   59249.862069  59119.379310  1360.034483  2025-04-30 00:00:00
min    19253.000000  21898.000000   361.000000  2025-04-30 00:00:00
25%    40507.000000  40413.000000  1021.000000  2025-04-30 00:00:00
50%    52532.000000  40413.000000  1021.000000  2025-04-30 00:00:00
75%    85433.000000  90919.000000  2005.000000  2025-04-30 00:00:00
max    85433.000000  92003.000000  2005.000000  2025-04-30 00:00:00
std    23497.586450  27913.351999   585.150193                  NaN

Valores únicos em 'Debito': [40507 51202 85433 52631 52532 19958 19253 40140]
Valores únicos em 'Credito': [90919 40413 21898 30203 92003]
Valores únicos em 'Historico': [2005 1021  361  365]

Valores nulos por coluna:
Debito         0
Credito        0
Historico      0
DATA           0
valor          0
complemento    0
dtype: int64

Frequência dos campos 'Debito', 'Credito', 'Historico':
Debito  Credito  Historico
85433   40413    1021         12
40507   90919    2005          9
40140   92003    2005          2
52631   21898    361           2
19253   40413    1021          1
19958   30203    1021          1
51202   90919    2005          1
52532   21898    365           1
Name: count, dtype: int64

Exemplo de complementos:
27    Uniodonto Belo Horizonte | Repasse em Custo Op...
16    Federacao Santa Catarina | Repasse em Custo Op...
12    UNIODONTO METROPOLITANA COOPERATIVA ODONTOLOGI...
22    UNIODONTO DO BRASIL | Taxa de Manutenção | TAX...
8     Uniodonto Rio de Janeiro | Repasse em Custo Op...
Name: complemento, dtype: object

In [84]:
df_export_csv

,Debito,Credito,Historico,DATA,valor,complemento
0,40507,90919,2005,2025-04-30,"1161,43",Uniodonto Campinas | Repasse em Custo Operacio...
1,40507,90919,2005,2025-04-30,"936,10",Uniodonto Belem | Repasse em Custo Operacional...
2,51202,90919,2005,2025-04-30,"40000,00",UNIODONTO DO BRASIL | Outros | Desconto adiant...
3,40507,90919,2005,2025-04-30,"270,10",Uniodonto Rio de Janeiro | Repasse em Custo Op...
4,40507,90919,2005,2025-04-30,"674,51",Uniodonto Rio Grande do Norte | Repasse em Cus...
5,85433,40413,1021,2025-04-30,"1214,64",UNIODONTO DO BRASIL | Repasse em Custo Operaci...
6,85433,40413,1021,2025-04-30,"6481,66",Uniodonto Campinas | Repasse em Custo Operacio...
7,85433,40413,1021,2025-04-30,"179,08",Uniodonto Rio Grande do Norte | Repasse em Cus...
8,85433,40413,1021,2025-04-30,"205,35",Uniodonto Rio de Janeiro | Repasse em Custo Op...
9,85433,40413,1021,2025-04-30,"120,25",Uniodonto Jundiai | Repasse em Custo Operacion...
10,85433,40413,1021,2025-04-30,"321,53",Uniodonto Sul Fluminense | Repasse em Custo Op...
11,85433,40413,1021,2025-04-30,"205,72",Uniodonto Sao Jose dos Campos | Repasse em Cus...
12,85433,40413,1021,2025-04-30,"650,46",UNIODONTO METROPOLITANA COOPERATIVA ODONTOLOGI...
13,85433,40413,1021,2025-04-30,"92,13",UNIODONTO ESPIRITO SANTO COOPERATIVA ODONTOLOG...
14,85433,40413,1021,2025-04-30,"2891,18",Uniodonto Campos | Repasse em Custo Operaciona...
15,85433,40413,1021,2025-04-30,"503,94",Uniodonto Resende | Repasse em Custo Operacion...
16,85433,40413,1021,2025-04-30,"241,24",Federacao Santa Catarina | Repasse em Custo Op...
17,40507,90919,2005,2025-04-30,"71,04",UNIODONTO ESPIRITO SANTO COOPERATIVA ODONTOLOG...
18,40507,90919,2005,2025-04-30,"472,86",Uniodonto Campos | Repasse em Custo Operaciona...
19,40507,90919,2005,2025-04-30,"1162,91",Uniodonto Salvador | Repasse em Custo Operacio...
20,40507,90919,2005,2025-04-30,"532,06",Uniodonto Jundiai | Repasse em Custo Operacion...
21,40507,90919,2005,2025-04-30,"394,42",UNIODONTO METROPOLITANA COOPERATIVA ODONTOLOGI...
22,52631,21898,361,2025-04-30,"561,56",UNIODONTO DO BRASIL | Taxa de Manutenção | TAX...
23,52532,21898,365,2025-04-30,"224,62",UNIODONTO DO BRASIL | Fundo de Marketing | FUN...
24,19958,30203,1021,2025-04-30,"70820,66",UNIODONTO DO BRASIL | Repasse em Pré-pagamento...
25,52631,21898,361,2025-04-30,"300,00",FERJES Federacao Rio de Janeiro | Taxa de Manu...
26,19253,40413,1021,2025-04-30,"424,76",Uniodonto Nova Iguacu | Repasse em Custo Opera...
27,40140,92003,2005,2025-04-30,"93,24",Uniodonto Belo Horizonte | Repasse em Custo Op...
28,40140,92003,2005,2025-04-30,"71,04",Uniodonto Santos | Repasse em Custo Operaciona...